<section class="cart">
    <section class="pt-8">
        <div class="w-1/2 mx-auto">
            <div class="flex">
                <img src="/images/cart-black.png" alt="">
                <span class="text-xl font-bold ml-1">SUMMARY</span>
            </div>
            <div class="border-y-2 border-gray-300 pizza-list my-4 py-4">
                <div class="flex items-center mt-4">
                    <div class="flex-1"><img src="/images/pizza.png" alt="" class=" w-24"></div>
                    <span class="flex-1">2pcs</span>
                    <span class="font-bold">RS300</span>

                </div>
                <div class="flex items-center mt-4">
                    <div class="flex-1"><img src="/images/pizza.png" alt="" class=" w-24"></div>
                    <span class="flex-1">2pcs</span>
                    <span class="font-bold">RS300</span>

                </div>
                <div class="flex items-center mt-4">
                    <div class="flex-1"><img src="/images/pizza.png" alt="" class=" w-24"></div>
                    <span class="flex-1">2pcs</span>
                    <span class="font-bold">RS300</span>

                </div>
                <div class="flex items-center mt-4">
                    <div class="flex-1"><img src="/images/pizza.png" alt="" class=" w-24"></div>
                    <span class="flex-1">2pcs</span>
                    <span class="font-bold">RS300</span>

                </div>
            </div>
            <div class="text-right cart-form pb-24">
                <div class="mb-4">
                    <span class="font-bold">TOTAL AMOUNT: </span>
                    <span class="font-bold text-xl amount ml-4">Rs 300 </span>
                </div>
                <form action="" class="">
                    <input type="text" placeholder="Enter your number" class="border border-gray-400 p-2 w-1/2 mb-4">
                    <input type="text" placeholder="Enter your address" class="border border-gray-400 p-2 w-1/2 mb-4">
                    <div class="">
                        <button class="btn-primary px-6 py-2 rounded-full text-white font-bold">Order now</button>
                    </div>
                </form>

            </div>
        </div>
    </section>
    <!-- <div class="empty-cart py-16">
        <div class="container mx-auto text-center">
            <h1 class="text-3xl font-bold mb-2">Cart Empty 😕</h1>
            <p class="text-gray-500 text-lg mb-12">You probably haven't ordered a pizza yet. <br>
                To order a pizza, go to the main page.</p>
            <img class="w-2/5 mx-auto" src="/images/empty-cart.png" alt="empty-cart">
            <a href="/" class="inline-block px-6 py-2 rounded-full btn-primary text-white font-bold mt-12">Go back</a>
        </div>
    </div> -->
</section>